<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Details</title>
  </head>
  <body>
    <b>Filename: <%=file.filename %></b>
    <ul>
      <li>Size: <%=file.size %></li>
      <li>Date Uploaded: <%=file.uploadtime%></li>
      <li>Path: <%= file.cloudPath %></li>
    </ul>
    <form action="/files/download" method="POST">
      <input type="hidden" name="filepath" value="<%= file.cloudPath %>" />
      <button type="submit">Download me!</button>
    </form>
  </body>
</html>
